{% extends 'base.html' %}


{% block content %}
<style>
    .card{
        margin-block-start: 5rem;
        border: white;
        margin: 5rem;
    }
    h1{
        
        font-size:xxx-large;
        font-style: italic,normal;
        font-family: Brush Script MT;
        color: #305a5a;
       
    
    
    }
    h2{
        font-size: larger;
        color: rgba(103, 100, 100, 0.9);
        word-spacing: 15px;
        font-weight: bold;
    }

    h3{
        font-size: xx-large;
        font-weight: bolder;
    }
    h4,h5{
        font-size: xx-large;
        font-weight: bolder;
    }
    p{
        font-size: medium;
    }
</style>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
            <br>
            <br>
            <br>
          <h1 class="card-title">About US</h1>
          <br>
          <br>
          <br>

          <h2>WE PRIDE OURSELF ON</h2>
          <h3 style="color: #f96d00;">Our authentic momo recepies</h3>
          <h4>passsed down through</h4>
          <h5>generations</h5>
         
        
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://i.postimg.cc/FFSF6Mc8/temp-Image-R2-Uo-DZ.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="https://i.postimg.cc/hGSHBPsy/temp-Image-LYLJ0-M.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">

          <br>
          <br>
          <br>
          <br>
    
          <h3>Taste the difference with</h3>
          <h3 style="color: #f96d00;">our handcrafted momos</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus veniam autem ratione beatae alias velit odio quam voluptatum officia assumenda itaque repellendus magni explicabo voluptatem voluptas, non, tenetur illum mollitia!</p>
          
        </div>
      </div>
    </div>
</div>

<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
            
          <h3 style=" font-size: xxx-large; font-weight: bold;">Our momos are the</h3>
          <div>
            <h4 style="display: inline; font-size: xxx-large ">Perfect</h4>
            <h4 style="color: #f96d00; display: inline;font-size: xxx-large">blend of tradition<br></h4>
            <h5 style="display: inline;font-size: xxx-large">and</h5>
            <h5 style="color: #f96d00; display: inline;font-size: xxx-large">innovation</h5>
        </div>      
        
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://i.postimg.cc/qvZXRTCL/temp-Image-G1u-ZR7.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
</div>



{% endblock %}
	