{% extends 'base.html' %}


{% block content %}
<style>

.card-text {
      color: #333; /* Default color for the text */
      display: inline; /* Ensure all <p> elements are inline */
      margin: 0; /* Remove default margin */
    }

    .highlight-varieties {

      font-weight: bolder;
      color: #f96d00; /* Set the color for the "20+ varieties" part */
    }

.card{
    border-color: white;
    margin: 1rem;
}
h5{
    font-size: 4rem;
    font-weight: bolder;

}
.action {
    
    color:black;
    font-size: large;
    display: inline-block;
    padding: 22px 49px;
    background-color: #347474;
    color: white;
    text-decoration: none;
    border-radius: 41px;
}
h6{
    font-size: 4rem;
    font-weight: bolder;

}




</style>
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
        <br>
        <br>
        <br>


          <h5 class="card-title">The #One <br>Momo Restaurant</h5>
          <br>
          <br>

          <p class="card-text">More than </p>
          <p class="card-text highlight-varieties">20+ varieties</p>
          <p class="card-text"> of momo available for you</p>    
          <br>
          <br>

          <a class="action" href="">Explore Food Menu --></a>
        
        </div>
      </div>
      <div class="col-md-6">
        <img src="https://i.postimg.cc/05F0TYqW/temp-Imagesm-MNTx.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="https://i.postimg.cc/MZNfzBYv/temp-Image-Qefuin.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Why Customers Love Us </h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <br>
          <a class="action" href="">Explore Our Menu --></a>
        </div>
      </div>
    </div>
</div>
<center>
    <div>
        <h6 style="display: inline;">Our</h6>
        <h6 style="color: #f96d00; display: inline;">Most Popular</h6>
        <h6 style="display: inline;">Recipes</h6>
        <p style="color: rgba(103, 100, 100, 0.9);"> Browse through varities of recipes with fresh ingrdhejbfeihfbefbebfeb</p>
    </div>
    
</center>




{% endblock %}
	